@font-face {
    font-family: 'CursedTimer';
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    border: 5px solid white;
    border-radius: 10px;
    max-width: 1024px;
    margin: 10rem auto;
    padding: 5rem;
    overflow: hidden;
}

.display-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 1px;
}

.display-score {
    display: flex;
    background-color: black;
    font-family: CursedTimer;
    font-size: 10rem;
    color: #F94F6D;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

button {
    background-color: #1B244A;
    font-family: CursedTimer;
    font-size: 25px;
    color: white;
    padding: 25px;
    border: 0.1px solid white;
    border-radius: 0.5rem;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.reset-btn {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

button:hover {
    opacity: 0.5;
}

button:active {
    background-color: #3a4a92;
}